<h1>Resultados da Busca por: <%= @search %></h1>

<div class="m-4 relative overflow-x-auto flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
               <% if @dishes.present? && @beverages.present?  %>
                <th scope="col" class="px-6 py-3">
                  Opções encontradas: <%= @dishes.count + @beverages.count %>
                </th>
               <% elsif @dishes.present? %>
                <th scope="col" class="px-6 py-3">
                  Opções encontradas: <%= @dishes.count%>
                </th>
               <% elsif @beverages.present? %>
                <th scope="col" class="px-6 py-3">
                  Opções encontradas: <%= @beverages.count%>
                </th>
               <% elsif @tag.dishes.present? %>
                <th scope="col" class="px-6 py-3">
                  Opções encontradas: <%= @tag.dishes.count%>
                </th>
            </tr>
          <% end %>
        </thead>
        <tbody>
          <% if @dishes.present? %>
            <% @dishes.each do | dish |%>
              <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                <td class="px-6 py-4">
                  <%= link_to dish.name, dish_path(dish), class: "font-medium text-blue-600 dark:text-blue-500 hover:underline" %>
                </td>
                <td class="px-6 py-4">
                  <%= link_to 'Editar', edit_dish_path(dish), class: "font-medium text-blue-600 dark:text-blue-500 hover:underline" %>
                </td>
            <% end %>
          <% end %>
          <% if @beverages.present? %>
            <% @beverages.each do | beverage |%>
              <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                <td class="px-6 py-4">
                  <%= link_to beverage.name, beverage_path(beverage), class: "font-medium text-blue-600 dark:text-blue-500 hover:underline" %>
                </td>
                <td class="px-6 py-4">
                  <%= link_to 'Editar', edit_beverage_path(beverage), class: "font-medium text-blue-600 dark:text-blue-500 hover:underline" %>
                </td>
            <% end %>
          <% end %>
          <% if @tag.present? %>
            <% @tag.dishes.each do | dish |%>
              <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                <td class="px-6 py-4">
                  <%= link_to dish.name, dish_path(dish), class: "font-medium text-blue-600 dark:text-blue-500 hover:underline" %>
                </td>
                <td class="px-6 py-4">
                  <%= link_to 'Editar', edit_dish_path(dish), class: "font-medium text-blue-600 dark:text-blue-500 hover:underline" %>
                </td>
            <% end %>
          <% end %>
        </tbody>
    </table>
    <br/>    
  <div>  










