<section class="bg-slate-500">
  <div class="py-8 lg:py-16 px-4 mx-auto max-w-screen-md">
      <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-center text-gray-900 dark:text-white">Horário de funcionamento</h2>
      <% if @restaurant_schedule.errors.any? %>
        <ul>
          <% @restaurant_schedule.errors.full_messages.each do |message| %>
          <li><%= message %></li>
          <% end %>
        </ul>
      <% end %>
      <%= form_with(model: @restaurant_schedule, class: "space-y-8") do |f| %>
        <div class="flex items-center gap-x-2">
          <%= f.label :mon_open, class: "block mb-2 text-sm font-medium text-black-900 dark:text-black-300"  %>
          <%= f.time_field :mon_open, class: "shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 dark:shadow-sm-light"  %>
          <%= f.label :mon_close, class: "block mb-2 text-sm font-medium text-black-900 dark:text-black-300"  %>
          <%= f.time_field :mon_close, class: "shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 dark:shadow-sm-light"  %>
        </div>
        <div class="flex items-center gap-x-2">
          <%= f.label :tue_open, class: "block mb-2 text-sm font-medium text-black-900 dark:text-black-300"  %>
          <%= f.time_field :tue_open, class: "shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 dark:shadow-sm-light"  %>
          <%= f.label :tue_close, class: "block mb-2 text-sm font-medium text-black-900 dark:text-black-300"  %>
          <%= f.time_field :tue_close, class: "shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 dark:shadow-sm-light"  %>
        </div>
        <div class="flex items-center gap-x-2">
          <%= f.label :wed_open, class: "block mb-2 text-sm font-medium text-black-900 dark:text-black-300"  %>
          <%= f.time_field :wed_open, class: "shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 dark:shadow-sm-light"  %>
          <%= f.label :wed_close, class: "block mb-2 text-sm font-medium text-black-900 dark:text-black-300"  %>
          <%= f.time_field :wed_close, class: "shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 dark:shadow-sm-light"  %>
        </div>
        <div class="flex items-center gap-x-2">
          <%= f.label :thu_open, class: "block mb-2 text-sm font-medium text-black-900 dark:text-black-300"  %>
          <%= f.time_field :thu_open, class: "shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 dark:shadow-sm-light"  %>
          <%= f.label :thu_close, class: "block mb-2 text-sm font-medium text-black-900 dark:text-black-300"  %>
          <%= f.time_field :thu_close, class: "shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 dark:shadow-sm-light"  %>
        </div>
        <div class="flex items-center gap-x-2">
          <%= f.label :fri_open, class: "block mb-2 text-sm font-medium text-black-900 dark:text-black-300"  %>
          <%= f.time_field :fri_open, class: "shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 dark:shadow-sm-light"  %>
          <%= f.label :fri_close, class: "block mb-2 text-sm font-medium text-black-900 dark:text-black-300"  %>
          <%= f.time_field :fri_close, class: "shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 dark:shadow-sm-light"  %>
        </div>
        <div class="flex items-center gap-x-2">
          <%= f.label :sat_open, class: "block mb-2 text-sm font-medium text-black-900 dark:text-black-300"  %>
          <%= f.time_field :sat_open, class: "shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 dark:shadow-sm-light"  %>
          <%= f.label :sat_close, class: "block mb-2 text-sm font-medium text-black-900 dark:text-black-300"  %>
          <%= f.time_field :sat_close, class: "shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 dark:shadow-sm-light"  %>
        </div>
        <div class="flex items-center gap-x-2">
          <%= f.label :sun_open, class: "block mb-2 text-sm font-medium text-black-900 dark:text-black-300"  %>
          <%= f.time_field :sun_open, class: "shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 dark:shadow-sm-light"  %>
          <%= f.label :sun_close, class: "block mb-2 text-sm font-medium text-black-900 dark:text-black-300"  %>
          <%= f.time_field :sun_close, class: "shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 dark:shadow-sm-light"  %>
        </div>
          <%= f.submit 'Enviar', class: "w text-white bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" %>
        </div>
      <% end %>
  </div>
</section>





